*{
    font-family: 'Anek Kannada';
}
body{
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    margin: auto;
    margin-top: 40px;
    padding: 0%;
    height: 70px;
    width: 80%;
    color: lightslategrey;
    border-radius: 30px;
    border: 5px solid rgb(48, 42, 133);
    font-size: 25px;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
section{
    display: flex;
    margin: auto;
    margin-top: auto;
    padding: 0%;
    height: 60px;
    width: 80%;
    font-size: medium;
    justify-content: center;
}
section>form{
    margin-left: 25px;
}
section>form>input{
    display: grid;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    width: auto;
    border: none;
    flex-direction: column;
}
section>form>button{
    display: grid;
    border-radius: 8px;
    border: none;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: auto;
    transition: 0.4;
    cursor: pointer;
    color: lightslategrey;



}